/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px
}
.row.content  img{
    width: 100px;
    height: 100px;
}
/* .col-sm-3.sidenav{
    padding: 100px 100px;
} */
/* Set gray background color and 100% height */
.sidenav {
    background-color: #96ced8;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}